<div class=" overflow-hidden p-3 p-md-5 m-md-1 text-center bg-light">
    <div class="col-md-5 mx-auto my-5">
      <h1 class="display-4 fw-normal">Welcome to 501cFree</h1>
      <p class="lead fw-normal">501cFree is an application built by students
      to give web developers a philanthropic means to gain
      experience. We help developers connect with non-profits
      to assist them with web development projects</p><br><br><br>
      <h6 class="display-4 fw-normal">How to get started</h6>
      <div class="row">
        <div class="col-sm-6">
          <div class="">
            <div class="card-body">
              <h5 class="card-title">For Developers</h5>
              <p class="card-text">Browse available projects.</p>
              <a href="#" class="btn btn-success">Projects</a>
            </div>
          </div>
        </div>
        <div class="col-sm-6">
          <div class="">
            <div class="card-body">
              <h5 class="card-title">For non-profits</h5>
              <p class="card-text">Add your project.</p>
              <a href="#" class="btn btn-success">Add Project</a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
