<div class="container">
  <div class="row">
    <div class="col-12 pt-4 pb-6">

            <div class="text-center">
              <div class="card mb-3">
                <div class="card-body">
                  <h2 class="card-title">Welcome to 501cFree</h2><br>
                  <center><img src="https://happifiers-cms-uploads.happify.com/cms_uploads/en_US/img/happifiers/hidden-benefits-of-helping-others-1_cbe443c.jpg" class="card-img-top" alt="...", style="max-height: 400px;">
                  <br><br><br><h3>501cFree is an application built by students
                  to give web developers a philanthropic means to gain
                  experience. We help developers connect with non-profits
                  to assist them with projects</h3>
                </div>
              </div>

      </div>
    </div>
  </div>
</div>

<div class="container">
  <div class="row">
    <div class="col-12 pt-4 pb-6">

            <div class="text-center">
              <h2>How to get started</h2>
              <div class="row">
                <div class="col-sm-6">
                  <div class="">
                    <div class="card-body">
                      <h5 class="card-title">For Developers</h5>
                      <p class="card-text">Feel free to brows a list of available projects.</p>
                      <a href="#" class="btn btn-primary">Projects</a>
                    </div>
                  </div>
                </div>
                <div class="col-sm-6">
                  <div class="">
                    <div class="card-body">
                      <h5 class="card-title">For non-profits</h5>
                      <p class="card-text">Here is a list of available developers.</p>
                      <a href="#" class="btn btn-primary">Developers</a>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="container">
              <div class="row">
                <div class="col-12 pt-4 pb-6">

                        <div class="text-center">
      <h5>Create an account to connect</h5>
      </div></div></div></div>

    </div>
  </div>
</div>
